.site {
    height: 100%;
}

.site-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 800;
    background: #fff;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    padding-top: 40px;
    text-align: center;
}

.site-content {
    padding: 20px 20px 100px 280px;
}

.site-footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:100px;
    padding: 20px 20px 20px 280px;
}

@media screen and (max-width: 37.5em) {
    .site-header {
        display: none;
    }

    .site-content {
        padding: 20px 20px 100px 20px;
    }
    
    .site-footer {
        position:absolute;
        bottom:0;
        width:100%;
        height:100px;
        padding: 20px;
    }

} 