.main-navigation {
	font-family: $font__menu;
	font-size: 1.2em;

	a, 
	a:visited{
        text-decoration: none;
		color: $color__link__menu;
	}

	a:hover,
	a:focus, 
	a:active {
        text-decoration: none;
		color: $color__link__menu-hover;
	}

    .current_page_item {

        a {
            text-decoration: none;
            color: $color__link__menu-current;
        }
        
    }
}

